.learning-section-view {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 1rem;
}

.learning-card {
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 10rem var(--color-dark),
              0 2px 4px rgb(12 12 12 / .15);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  max-height: 350px;
  overflow: hidden;
  place-items: center;

  .learning-card__img,
  .learning-card__text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .learning-card__img {
    aspect-ratio: 16 / 9;
    transition: scale .3s ease-in-out;
    object-fit: cover;
    width: 100%;
    z-index: -1;
  }

  .learning-card__text {
    backdrop-filter: blur(2px);
    color: var(--color-light);
    display: grid;
    font-size: 1.5rem;
    font-weight: 700;
    place-items: center;
    height: 100%;
    text-align: center;
    text-shadow: 0 0 10px var(--color-dark);
    position: relative;
    width: 100%;
    z-index: 10;
  }

  &:hover .learning-card__img {
    scale: 1.1;
  }
}
