.milestones-view {
  margin: 1rem;
}

.milestones {
  --color: #212121;
  margin-inline: auto;
  max-width: 960px;
  padding: 2rem 1rem 1rem 2rem;
  position: relative;

  &::before {
    background: linear-gradient(180deg, transparent 3%, var(--color) 13%, var(--color), var(--color) 90%, transparent);
    content: '';
    height: 100%;
    left: 0.875rem;
    position: absolute;
    top: 0;
    width: 4px;
  }

  .milestone {
    background-repeat: no-repeat;
    background-position: top right;
    border: 1px dashed #000;
    border-radius: 4px;
    margin-block: 2rem;
    padding: 2rem 1rem;

    &.gm-born {
      background-image: url('/soo_nam_yoo_small.png');
    }
    &.argentina {
      background-image: url('/arg_flag.png');
    }
    &.child-born {
      background-image: url('/dae_won_yoo_small.png');
    }
    &.first-class {
      background-image: url('/clase_gm.png');
    }
    &.gm-death {
      background-image: url('/black_belt.png');
    }

    @media screen and (max-width: 680px) {
      background-image: none !important;
    }

    &-date {
      font-size: 1.125rem;
      position: relative;

      &::before {
        background-color: var(--color);
        border-radius: 1rem;
        content: '';
        height: 1rem;
        left: -2.5rem;
        position: absolute;
        top: 0.35rem;
        width: 1rem;
      }

      &::after {
        content: '';
        background-color: var(--color);
        height: 4px;
        left: -2.5rem;
        position: absolute;
        top: 0.75rem;
        width: 2rem;
      }
    }
  }
}

