.practica-positions-view {
    padding: 2rem;

    .position-card {
        margin-inline: auto;
        margin-block: 1rem;
    }
    .next-btn {
        display: table;
        margin-inline: auto;
    }
}

